{% from 'bootstrap/form.html' import render_form_row %} {% extends
'wiki/page.html' %}

{% block styles %}
<!-- Bootstrap CSS -->
{{ bootstrap.load_css() }}
<style>
  form.editor textarea {
    height: 400px;
  }
</style>
{% endblock %}

{% block content %}
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a
      class="nav-link active"
      data-toggle="tab"
      id="edit-tab"
      href="#edit"
      role="tab"
      aria-controls="home"
      aria-selected="true"
      >{{ _('Edit') }}</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      data-toggle="tab"
      id="preview-tab"
      href="#preview"
      role="tab"
      aria-controls="profile"
      aria-selected="false"
      >{{ _('Preview') }}</a
    >
  </li>
</ul>
<div class="tab-content">
  <div
    class="tab-pane fade show active"
    id="edit"
    role="tabpanel"
    aria-labelledby="home-tab"
  >
    <form class="editor" method="post">

      {{ form.csrf_token() }}
      {{ render_form_row([form.title, form.tags]) }}
      {{ render_form_row([form.body]) }}
      <button class="btn btn-sm btn-outline-primary" type="submit">{{ _('Save') }}</button>
      {%- set pathes = path | edit_path_list -%}
      {%- if pathes %}
      <div class="btn-group">
        <button type="button" class="btn btn-outline-primary btn-sm">{{ _('Edit in') }}</button>
        <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu">
          {%- for path in pathes %}
          <a class="dropdown-item" href="{{ url_for('wiki.edit', url=path.path) }}">{{ path.ln }}</a>
          {%- endfor -%}
        </div>
      </div>
      {%- endif -%}
    </form>
  </div>
  <div
    class="tab-pane fade"
    id="preview"
    role="tabpanel"
    aria-labelledby="profile-tab"
  ></div>
</div>

{% endblock %}

{% block scripts -%}
{{ super() }}
<script>
  $('#preview-tab').on('click', function() {
    var $form = $('form');
    var $inputs = $form.find('input, textarea, button');
    var $pre = $('#preview');
    var bodycontent = 'title: preview\n\n' + $form.find('textarea').val();
    $inputs.prop('disabled', true);
    $pre
      .removeClass('alert')
      .removeClass('alert-error')
      .html('Loading...');
    $.ajax({
      url: "{{ url_for('wiki.preview') }}",
      type: 'POST',
      data: { body: bodycontent },
      success: function(msg) {
        $pre.html(msg);
      },
      error: function() {
        $pre.addClass('alert').addClass('alert-error');
        $pre.html('There was a problem with the preview.');
      },
      complete: function() {
        $inputs.prop('disabled', false);
      }
    });
  });
</script>
{% endblock %}
