{% extends 'wiki/page.html' %}

{% block styles %}
{{ super() }}
    <style>
        .wiki-files {
            position: relative;
        }
        .wiki-files .toast {
            position: absolute;
            top: 50px;
            left: 0;
        }
        .wiki-files figure img {
            max-width:200px;
            max-height:200px
        }
        .wiki-files form .custom-file {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }
        .wiki-files form input[type=file] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }
    </style>
{% endblock %}

{% block content %}
<div class="wiki-files">
    <div data-delay="1500" class="toast">
        <div class="toast-header text-primary font-weight-bold">
            Markdown
        </div>
        <div class="toast-body">
            {{ _('Copied in you clipboard') }}
        </div>
    </div>

    <form class="float-right" method="post" enctype="multipart/form-data">
        <div class="custom-file">
                <button class="btn btn-outline-primary btn-sm">Upload a file</button>
                <input class="custom-file-input" type="file" name="file" />
        </div>
    </form>

<h1>{{ _('List of Uploaded Files') }}</h1>

    {% for file in files %}
    <figure class="figure ml-4">
        <img
            src="{{ url_for('uploaded_files', filename=file) }}"
            class="figure-img img-fluid rounded img-thumbnail"
            alt="{{ file }}"
        />
        <figcaption class="figure-caption text-center">
            <a href="{{ url_for('uploaded_files', filename=file) }}">{{ file }}</a>
            <button onclick="copy('{{ file }}', '{{ url_for("uploaded_files", filename=file) }}')" class="btn btn-sm btn-outline-primary">
            <i class="fab fa-markdown"></i>
            </button>
        </figcaption>
    </figure>
    {% endfor %}
</div>
{% endblock %}

{% block scripts -%}
{{ super() }}
<script>
  // Add the following code if you want the name of the file appear on select
  $('.custom-file-input').on('change', function() {
    var form = $('form');
    form.submit();
  });

  // copy the markdown code in the clip board
  function copy(name, link) {
    var $temp = $('<div>');
    $('body').append($temp);
    $temp
      .attr('contenteditable', true)
      .html('![' + name + '](' + link + ' "' + name +'"' + ')')
      .select()
      .on('focus', function() {
        document.execCommand('selectAll', false, null);
      })
      .focus();
    document.execCommand('copy');
    $temp.remove();
    $('.toast').toast('show');
  }
</script>
{% endblock %}
