[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bootstrap-flask = "*"
flask = "*"
markdown = "*"
flask-wiki = {editable = true, path = "."}
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.6"
